*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    background: #000000;
    color: #000000;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%230c59c1' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
font-size: 16px;
font-family: 'Libre Baskerville', serif;
}


.container{
    width: 95%;
    margin: auto;
    
}

a{
    color: #000000;
    text-decoration: none;

}


/*Estilizado de la imagen principal*/
.imgPortada{
    width: 100%;
    height: 500px;
    background: url('./img/portada.jpg') no-repeat center center/cover;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}

.imgPortada.h2, .imgPortada p{
    margin-bottom: 10px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10 px 0;
}

.btn:hover{
    opacity: .5;
}

/* Estilizado de los Servicios*/

.atletas{
    display:  grid;
    grid-template-columns: repeat(5, 1fr) ;
    gap: 25px;
    margin: 10px 0;
}

.atletas img{
    width: 300px;
    height: 200px;
}

.atletas h3{
    font-size: 20px;
    margin: 10px 0;
}

.atletas a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;

}

.atletas a:hover{
    text-decoration: underline;
}

/* Estilizado del baner uno de servicios*/
.atletas-banner-uno{
    width: 100%;
    height: 350px;
    background: url('./img/banner1.png');
    margin-bottom: 40px;
    opacity: .7;
}

.atletas-banner-uno .content{
    width: 50%;
    padding: 90px 0 0  30px;
    color: #ffffff;
}



@media (max-width: 700px){

     .atletas{
        grid-template-columns: repeat(2, 1fr);
    }

    .atletas-banner-uno .content, .atletas-banner-dos .content{
        width: 80%;
    }


}

/*web Responsivo */
@media (max-width: 500px){
    .atletas{
        grid-template-columns: repeat(1, 1fr);
    }

    .atletas img{
        height: 250px;
    }

    .atletas-banner-uno .content, .atletas-banner-dos .content{
        width: 100%;
        padding: 10px 4px;
    }


}